<!DOCTYPE html>
<html lang="PT_BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<header>
    <a href="index.html">Página Inicial</a> &nbsp; <a href="cadastro.html">Cadastre-se</a>  &nbsp; <a href="login.html">Login</a>  &nbsp; <a href="categorias.html">Categorias</a> 
    <a href="Publicacoes.html">&nbsp;Publicacoes</a>
</header>

<body>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
        }

        .destaque-leitura {
            background-color: #484848; 
            padding: 10px;
        }
    </style>
</head>
<body>

    <h1>Destaques de Leitura</h1>

    <div class="destaque-leitura">
        <p>
            <ul>
            
                <a href="#acao">Ação</a></li>
            </ul>
        </p>
        <p>
            <a href="=suspense">Suspense</a></li>
        </p>
    </div>

    <p>
        Este é um parágrafo normal fora da área de destaque.
    </p>

    <div class="destaque-leitura">
        <p>
            <ul>
            
                <a href="#drama">Drama</a></li>
            </ul>
        </p>
        <p>
            <a href="=#sobrenatural">Sobrenatural</a></li>
        </p>
    </div>


</body>
</html>
    
   <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, asperiores! Quibusdam dicta architecto repellendus vel, numquam perspiciatis deserunt, laudantium eius fuga porro doloremque voluptatum veritatis adipisci animi fugiat maiores amet.
    <br>
    <br>
    Bem-vindos:
    <br>
    <br>
    Descubra um Universo de Histórias!

    <br>
    <br>
    Estamos emocionados em ter você aqui para explorar um vasto universo da leitura.
    Para começar essa jornada, precisamos que você faça seu cadastro.
    Ao se cadastrar você terá acesso a uma comunidade apaixonada por escrita e leitura. 
    <br>
    <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea ipsa recusandae, eaque, consequuntur dignissimos provident rerum aspernatur perferendis deserunt nesciunt autem modi omnis repudiandae quidem excepturi iure. Expedita, ratione corporis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae architecto eveniet temporibus a adipisci aliquam unde. Aut tenetur necessitatibus quibusdam blanditiis. Nesciunt sapiente aspernatur alias vero corrupti repudiandae illo ut?
    <br>
    <br>


    

</body>
</html>